<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-question-heading" jhiTranslate="medStatApp.question.home.createOrEditLabel">Create or edit a Question</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!question.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="question.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medStatApp.question.libele" for="field_libele">Libele</label>
                    <input type="text" class="form-control" name="libele" id="field_libele"
                        [(ngModel)]="question.libele" required/>
                    <div [hidden]="!(editForm.controls.libele?.dirty && editForm.controls.libele?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.libele?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medStatApp.question.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                        [(ngModel)]="question.type" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medStatApp.question.questionnaireQuestion" for="field_questionnaireQuestion">Questionnaire Question</label>
                    <select class="form-control" id="field_questionnaireQuestion" name="questionnaireQuestion" [(ngModel)]="question.questionnaireQuestionId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="questionnaireOption.id" *ngFor="let questionnaireOption of questionnaires; trackBy: trackQuestionnaireById">{{questionnaireOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="medStatApp.question.categorieQuestion" for="field_categorieQuestion">Categorie Question</label>
                    <select class="form-control" id="field_categorieQuestion" name="categorieQuestion" [(ngModel)]="question.categorieQuestionId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categorieOption.id" *ngFor="let categorieOption of categories; trackBy: trackCategorieById">{{categorieOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
